

/*To ensure easy maintenance, some parts of this code will have more detailed comments*/

/* General page - setting values for all parts marked as body */

body{
    margin:0;
    font-family: Verdana, sans-serif;
    background:#dbf0da;
    color:#333333;
}

/* Setting headers for every page to make them look the same*/
header{
    background:#41943d;
    color:white;
    text-align:center;
    padding:2px;
}

/* Styling navigation */
nav{
    background:#245322;
}

nav ul{
    list-style:none;
    display:flex;              /*puts items in the list next to each other*/
    justify-content:center;    /*centers items on the horizontal axis*/
    margin:0;
    padding:0;
}

nav li{
    padding:18px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{              /*changes the colour of the menu when mouse is on it*/
    color:#ffd966;
}

/*styling the main body*/


main {
    width: 90%;
    max-width: 1100px;        /*makes the main part take up 90% of the screen but maximum of 1100 pixels on very large screens*/
    margin: 30px auto;
    padding: 20px;
}

.intro {
    background: rgba(255,255,255,0.85);     /*makes the background slightly see through white*/
    width: 55%;                             /*makes the box take up 55% of the width*/
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;        /*makes the corners rounded*/

}

/*style images*/

img{
    width:100%;          
    height:auto;          /*automatically adjusts the height to keep the same h x w proportions on different size screens*/ 
    max-width:700px;     /*gives limits of picture size so they don't become overblown on a very big screen*/
    display:block;	
    margin:20px auto;
    border-radius:10px;
}

/*style footer*/

footer{
    background:#245322;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

/*style the contact form*/

input,
	textarea{
    	width:100%;
    	padding:20px;                /*this styles the text boxes*/
    	margin-bottom:25px;
    	border-radius:8px;
    	border:3px solid #ccc;
    	box-sizing:border-box;
}

input[type="submit"]{
    background:#225339;
    color:white;                   /*this styles the Send button*/
    border:none;
    cursor:pointer;
}

input[type="submit"]:hover{
    background:#3d7a40;
}

/*style the picture and form next to each other*/

.contact-holder {
    display: flex;
    align-items: center;
    gap: 40px;                      
}

.contact-image img {
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
}

/*style the trip page*/

.trip {
    display: flex;		/*puts text next to the image*/
    gap: 30px;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;   
}

.trip_text {
    width: 45%;
}
                      /*divides the width of the page between pictures and text. Might have to change that later*/
.trip_image {
    width: 55%;
}

/*to format credits for the photos*/

.source {
    font-size: 0.7em;
    color: #666;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*To make the image on the home page bigger and underlying the text*/
.home main {
    background-image: url("../Images/Index/Kokorinsko.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 180px);    /*makes the image fill the screen while leaving space for the header and footer*/

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*To format About Us with a text box over the picture*/

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;      /*Changes the general image rule to make this image cover the whole width of the screen*/
}

.text-box {
    position: absolute;
    bottom: 95px;      
    left: 20px;
    right: 20px;

    background: rgba(255, 255, 255, 0.80); 
    color: black;
    padding: 2px;
    border-radius: 8px;
}

/*To arrange the gallery photos into a grid pattern*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /*divides the field into three columns of equal width*/
    gap: 20px;
}

.photo {
    background: white;
    padding: 10px;             /*formats the space where the photo and the caption are placed*/
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 380px;           /*formats the photos themselves, making them the same size*/
    object-fit: cover;
    border-radius: 8px;
}

/*Making the pages responsive to small devices like mobile phones or tablets*/

@media (max-width: 600px) {                /*Set the breaking point where layout chnges*/

    /* Navigation */

    nav ul {
        flex-direction: column;		/* Stacks the menu items vertically */
        align-items: center;
    }

    nav li {				
        padding: 10px;
    }

    /* Main content */

    main {
        width: 95%;		/*Increasing width and reducing padding should give the text more space*/ 
        padding: 10px;
    }

    /* Index - Home page */
	
.intro {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;   /*Makes sure the content won't exceed the size of the container*/
    }

    /* Trips */

    .trip {
        flex-direction: column;    /*This will stack images above the text rather than next to it*/
    }

    .trip_text,
    .trip_image {
        width: 100%;
    }

    /* Contact Us */

    .contact-holder {
        flex-direction: column;
    }

    .contact-image {
        display: none;     /*takes away the decorative picture that would just be annoying on a small screen*/
    }

    /* Gallery */

    .gallery {
        grid-template-columns: 1fr;    /*Makes gallery pictures stack in one column, rather than three*/
    }

 /* About Us */

    .text-box {
        position: static;
        margin-top: 15px;
    }

}













