


/* General page */

body{
    margin:0;
    font-family: Calibri, sans-serif;
    background:#eef4ee;
    color:#333;
}

header{
    background:#2d5f2f;
    color:white;
    text-align:center;
    padding:25px;
}